{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "cssDeclarationSorterOrder": "smacss",
  "cursorOffset": -1,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "experimentalTernaries": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "plugins": ["prettier-plugin-css-order", "prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "tailwindAttributes": [
    "classList",
    "classNameList",
    "classNameVariants",
    "classNames",
    "classVariants",
    "classes",
    "variants"
  ],
  "tailwindFunctions": ["twMerge"],
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": true
}
